<!--The content below is only a placeholder and can be replaced.-->
<header align="center">
    <h1>ToDo Application</h1>
</header>

<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="">About</a></li>
</ul>

 <app-home></app-home> <!--nesting our custom made Home component with the app component.
                           So this app-home is a selector name for home.component.ts file. 
                           we want to nest that home component into app.component.html -->
<router-outlet></router-outlet>
